.title {
  text-align: center;
}

.form, .loading{
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px !important;
}

.loading {
  text-align: center;
}

.tweets {
  width: 50%;
  margin: 0 auto;
}

.tweet {
  margin-bottom: 40px;
}

.date {
  font-style: italic;
  font-size: 12px;
}
